body{
    background-color: rgb(224, 207, 185);
}

table{
    border-collapse:separate;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #000000;
}

th, td {
    text-align: left;
    padding: 8px;
}